<html>

<head>
  <meta charset="utf-8">
  <title></title>
</head>

<body>
<div class="container">
  <form>
    <div>
      <h2>ADD BOOK</h2>
    </div>
    <div class="form-group">
      <label for="">ISBN</label>
      <input type="text" class="form-control" id=""  placeholder="">
    </div>
    <div class="form-group">
      <label for="">Author</label>
      <input type="text" class="form-control" id=""  placeholder="">
    </div>
    <div class="form-group">
      <label for="">Title</label>
      <input type="text" class="form-control" id=""  placeholder="">
    </div>
    <div class="form-group">
      <label for="">Publisher</label>
      <input type="text" class="form-control" id=""  placeholder="">
    </div>
    <div class="form-group">
      <label for="">Sector</label>
      <input type="text" class="form-control" id=""  placeholder="">
    </div>
    <div class="form-group">
      <label for="">Publication date</label>
      <input type="date" class="form-control" id=""  placeholder="">
    </div>


    <button type="submit" class="btn btn-primary">ADD</button>
  </form>

</div>
</body>

</html>
